<!-- Menu bar  -->
<app-menu-bar></app-menu-bar>

<!-- Weather Results (Search Bar) -->
<!-- Message {{ weatherResults | json }} -->
<app-weather-results
  (weatherResultsEmitter)="receiveWeatherResults($event)"
  (astroPhasesEmitter)="receiveAstroPhasesResults($event)"
  (comprehensiveResultsEmitter)="receiveComprehensiveResults($event)"
></app-weather-results>

<!-- Weather HUD -->
<app-weather-hud
  [hudResults]="weatherResults"
  [fullWeather]="comprehensiveResults"
  [astroResults]="astroPhasesResults"
  *ngIf="weatherResults"
></app-weather-hud>
